@keyframes floating{

    0%{

    transform:translateY(0px);

    }

    50%{

    transform:translateY(-8px);

    }

    100%{

    transform:translateY(0px);

    }

    }

    .gem{

    animation:floating 5s ease-in-out infinite;

    }

    .g1{animation-delay:.2s;}
    .g2{animation-delay:.6s;}
    .g3{animation-delay:1s;}
    .g4{animation-delay:1.4s;}
    .g5{animation-delay:1.8s;}
    .g6{animation-delay:2.2s;}
    .g7{animation-delay:2.6s;}
    .g-center{animation-delay:.8s;}
