*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
    }

    body{

    background:#070913;

    color:white;

    height:100vh;

    overflow:hidden;

    }

    header{

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 40px;

    border-bottom:1px solid rgba(255,255,255,.08);

    }

    .search input{

    width:420px;

    padding:15px;

    background:#121625;

    border:none;

    border-radius:15px;

    color:white;

    }

    main{

    display:grid;

    grid-template-columns:320px 1fr 380px;

    height:calc(100vh - 80px);

    }

    .left,.right{

    padding:25px;

    overflow:auto;

    }

    .center{

    display:flex;

    justify-content:center;

    align-items:center;

    }

    .card{

    background:#111626;

    border-radius:20px;

    padding:20px;

    margin-bottom:20px;

    border:1px solid rgba(255,255,255,.05);

    backdrop-filter:blur(15px);

    }

    #cluster{

    width:750px;

    height:750px;

    position:relative;

    }
